# SPDX-FileCopyrightText: 2026 The ZLITS steward
# SPDX-License-Identifier: Apache-2.0

openapi: 3.1.0
info:
  title: ZLITS Admin / Control-Plane API
  version: 1.3.0-draft
  summary: Sovereign control-plane API — zones, integrator accreditation & keys, audit.
  description: |
    The control-plane API used **only** by the ZLITS Admin Portal (DVS / operator staff).
    It is deliberately SEPARATE from the client contract (`openapi.yaml`): different
    audience, different security scheme. Integrator clients (FuroTrack and others) never
    call these endpoints. This split encodes the two-plane model — see
    `docs/registry-operations.md`.

    STATUS: DRAFT CONTRACT. Hosts are operator/State placeholders, never a vendor domain.
  contact:
    name: ZLITS registry operator (TBD — DVS / delegated operator)
  license:
    name: To be set by the operator/State
servers:
  - url: https://api.zlits.gov.zw/v1
    description: Production (operator-owned; placeholder host)
  - url: https://sandbox.zlits.gov.zw/v1
    description: Sandbox

security:
  - adminSession: []

tags:
  - name: zones-admin
    description: Declare and maintain veterinary / FMD zones (sovereign reg-data).
  - name: integrators
    description: Accredit integrators and issue / rotate / revoke their API keys.
  - name: audit
    description: Read the immutable action log and produce signed exports.
  - name: certificates-admin
    description: Authority issuance & revocation of certificates (delegated approval).
  - name: movements-admin
    description: Movement-permit lifecycle transitions.
  - name: campaigns-admin
    description: Vaccination-campaign lifecycle (pause / resume / complete).
  - name: holdings-admin
    description: Register establishments (holdings) and keepers.
  - name: herd-admin
    description: Correct animal records (e.g. resolve data-quality issues).

paths:
  /admin/certificates:
    get:
      tags: [certificates-admin]
      operationId: listCertificatesAdmin
      summary: List certificates (all states)
      responses:
        '200':
          description: Certificates.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Certificate' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/certificates/{id}/issue:
    post:
      tags: [certificates-admin]
      operationId: issueCertificate
      summary: Issue & sign a requested certificate (Official Vet / DVS only)
      description: |
        Transitions a `requested` certificate to `issued`, applying the competent
        authority's e-signature and assigning the verify token + PDF. Authority action —
        an integrator key can never reach this endpoint.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Certificate issued & signed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Certificate' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /admin/certificates/{id}/revoke:
    post:
      tags: [certificates-admin]
      operationId: revokeCertificate
      summary: Revoke a certificate (Official Vet / DVS only)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Revocation' }
      responses:
        '200':
          description: Certificate revoked (reflected immediately at public verify).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Certificate' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /admin/movements:
    post:
      tags: [movements-admin]
      operationId: createMovement
      summary: Create a movement permit (draft)
      description: Creates a permit in `draft`; the lifecycle then advances via transitions. Requires `movements:review`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MovementCreate' }
      responses:
        '201':
          description: Permit created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Movement' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/movements/{ref}/{action}:
    post:
      tags: [movements-admin]
      operationId: transitionMovement
      summary: Advance a movement permit through its lifecycle
      description: |
        `action` is one of lodge | review | approve | reject | depart | arrive | complete |
        cancel. Validated against the permit's current state.
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
        - { name: action, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Updated movement.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Movement' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /admin/campaigns:
    post:
      tags: [campaigns-admin]
      operationId: createCampaign
      summary: Create a vaccination campaign
      description: Requires `campaigns:write`. Starts `active` with `overdue` equal to the target.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignCreate' }
      responses:
        '201':
          description: Campaign created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /admin/campaigns/{id}:
    patch:
      tags: [campaigns-admin]
      operationId: updateCampaign
      summary: Update a campaign (disease / province / target)
      description: Requires `campaigns:write`. Recomputes coverage.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignUpdate' }
      responses:
        '200':
          description: Updated campaign.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [campaigns-admin]
      operationId: deleteCampaign
      summary: Delete a campaign
      description: Requires `campaigns:write`.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/campaigns/{id}/record:
    post:
      tags: [campaigns-admin]
      operationId: recordCampaignProgress
      summary: Record campaign progress (vaccinations / cold-chain / follow-ups)
      description: |
        Requires `campaigns:write`. Adds vaccinations (capped at target), increments cold-chain
        exceptions, decrements overdue follow-ups, and recomputes coverage.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignProgress' }
      responses:
        '200':
          description: Updated campaign.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/campaigns/{id}/{action}:
    post:
      tags: [campaigns-admin]
      operationId: transitionCampaign
      summary: Advance a vaccination campaign through its lifecycle
      description: |
        `action` is one of pause | resume | complete. Validated against the
        campaign's current state (`completed` is terminal). Requires `campaigns:write`.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: action, in: path, required: true, schema: { type: string, enum: [pause, resume, complete] } }
      responses:
        '200':
          description: Updated campaign.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Campaign' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /admin/animals/{id}:
    patch:
      tags: [herd-admin]
      operationId: updateAnimal
      summary: Correct an animal record
      description: |
        Requires `herd:write`. Updates supplied fields (district, holding, breed, etc.) — used
        to resolve data-quality issues. Returns the updated record with its timeline.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AnimalUpdate' }
      responses:
        '200':
          description: Updated animal.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/animals/{id}/merge:
    post:
      tags: [herd-admin]
      operationId: mergeAnimal
      summary: Merge a duplicate animal into a survivor (§9.6 — the loser redirects)
      description: |
        Requires `herd:write`. Re-points vaccinations, movements, certificates and the tag index
        to `into`; the loser is marked `merged`. national_id is never reissued.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [into], properties: { into: { type: string, description: Survivor national_id. } } } } }
      responses:
        '200': { description: Merged., content: { application/json: { schema: { type: object } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/keepers/{keeper_id}/merge:
    post:
      tags: [holdings-admin]
      operationId: mergeKeeper
      summary: Merge a duplicate keeper into a survivor (§9.6)
      description: Requires `holdings:write`. Re-points animals, holdings, authorizations and the natural-key index to `into`.
      parameters:
        - { name: keeper_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [into], properties: { into: { type: string, description: Survivor keeper_id. } } } } }
      responses:
        '200': { description: Merged., content: { application/json: { schema: { type: object } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/holdings:
    post:
      tags: [holdings-admin]
      operationId: registerHolding
      summary: Register an establishment (holding)
      description: Requires `holdings:write`. A fresh holding is `incomplete` until geo is captured.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HoldingCreate' }
      responses:
        '201':
          description: Holding registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Holding' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /admin/keepers:
    post:
      tags: [holdings-admin]
      operationId: registerKeeper
      summary: Register an animal keeper
      description: Requires `holdings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KeeperCreate' }
      responses:
        '201':
          description: Keeper registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Keeper' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/zones:
    post:
      tags: [zones-admin]
      operationId: declareZone
      summary: Declare a veterinary / FMD zone
      description: |
        Creates a zone (gazetted under the Animal Health Act). Assigns the next
        `zone_version` so client delta-sync (`GET /v1/zones`) picks it up immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneWrite' }
      responses:
        '201':
          description: Zone declared.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    get:
      tags: [zones-admin]
      operationId: listZonesAdmin
      summary: List zones (admin view, incl. drafts/expired)
      responses:
        '200':
          description: Zones.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Zone' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/zones/{zone_code}:
    patch:
      tags: [zones-admin]
      operationId: updateZone
      summary: Update or expire a zone
      description: Updating a zone bumps its `zone_version`. Set `effective_until` to expire it.
      parameters:
        - name: zone_code
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneWrite' }
      responses:
        '200':
          description: Zone updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/zones/outbreak:
    post:
      tags: [zones-admin]
      operationId: declareOutbreakZone
      summary: Emergency outbreak declaration (fast-path)
      description: |
        Declares an FMD/quarantine zone immediately and bumps `zone_version` so field
        devices pull it on next sync. For authorised veterinary officers only.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneWrite' }
      responses:
        '201':
          description: Outbreak zone declared.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zone' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/integrators:
    post:
      tags: [integrators]
      operationId: accreditIntegrator
      summary: Accredit an integrator
      description: Registers a vendor (e.g. FuroTrack) so it may be issued API keys.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IntegratorCreate' }
      responses:
        '201':
          description: Integrator accredited.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Integrator' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
    get:
      tags: [integrators]
      operationId: listIntegrators
      summary: List integrators
      responses:
        '200':
          description: Integrators.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Integrator' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/integrators/{id}/keys:
    post:
      tags: [integrators]
      operationId: issueApiKey
      summary: Issue an API key for an integrator
      description: |
        Returns the secret **once** — it is not retrievable again. The integrator uses it
        as the `operatorApiKey` bearer token against the client API (`openapi.yaml`).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scopes:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Key issued (secret shown once).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyIssued' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/keys/{key_id}/rotate:
    post:
      tags: [integrators]
      operationId: rotateApiKey
      summary: Rotate an API key
      parameters:
        - name: key_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '201':
          description: New key issued (secret shown once); the old key is revoked.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyIssued' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/keys/{key_id}:
    delete:
      tags: [integrators]
      operationId: revokeApiKey
      summary: Revoke an API key
      parameters:
        - name: key_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Key revoked.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/audit:
    get:
      tags: [audit]
      operationId: readAudit
      summary: Read the immutable action log
      parameters:
        - name: actor
          in: query
          required: false
          schema: { type: string }
        - name: action
          in: query
          required: false
          schema: { type: string }
        - name: since
          in: query
          required: false
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Audit entries.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AuditEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/audit/export:
    get:
      tags: [audit]
      operationId: exportAudit
      summary: Signed, timestamped audit export
      description: Produces a signed export for regulator / independent auditors.
      responses:
        '200':
          description: Signed audit export.
          content:
            application/json:
              schema:
                type: object
                required: [generated_at, signature, entries]
                properties:
                  generated_at: { type: string, format: date-time }
                  signing_key_id: { type: string }
                  signature: { type: string }
                  entries:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

components:
  securitySchemes:
    adminSession:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: |
        DVS / operator staff session (RBAC, least privilege). Distinct from the
        integrator `operatorApiKey` used on the client API — control-plane actions are
        never authorised by an integrator key.

  responses:
    Unauthorized:
      description: Missing or invalid admin session.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Authenticated but lacking the required role.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: Conflicting state.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unprocessable:
      description: Validation failed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    ZoneWrite:
      type: object
      required: [zone_code, zone_name, zone_type, movement_restriction, effective_from]
      properties:
        zone_code: { type: string, examples: [ZW-FMD-RED-SE] }
        zone_name: { type: string }
        zone_type: { type: string, enum: [fmd_free, fmd_protection, fmd_infected, surveillance] }
        movement_restriction: { type: string, enum: [none, restricted, blocked] }
        boundary_wkt: { type: [string, 'null'] }
        effective_from: { type: string, format: date }
        effective_until: { type: [string, 'null'], format: date }
        source_reference: { type: string, description: Gazette / Statutory Instrument reference. }
      additionalProperties: false

    Zone:
      type: object
      required: [zone_code, zone_type, movement_restriction, zone_version, status]
      properties:
        zone_code: { type: string }
        zone_name: { type: string }
        zone_type: { type: string, enum: [fmd_free, fmd_protection, fmd_infected, surveillance] }
        movement_restriction: { type: string, enum: [none, restricted, blocked] }
        boundary_wkt: { type: [string, 'null'] }
        zone_version: { type: integer, format: int64 }
        status: { type: string, enum: [draft, active, expired] }
        effective_from: { type: string, format: date }
        effective_until: { type: [string, 'null'], format: date }
        source_reference: { type: string }

    IntegratorCreate:
      type: object
      required: [name, contact_email]
      properties:
        name: { type: string, examples: [FuroTrack] }
        contact_email: { type: string, format: email }
      additionalProperties: false

    Integrator:
      type: object
      required: [id, name, status]
      properties:
        id: { type: string }
        name: { type: string }
        contact_email: { type: string, format: email }
        status: { type: string, enum: [accredited, suspended] }
        accredited_at: { type: string, format: date-time }

    ApiKey:
      type: object
      required: [key_id, integrator_id, status]
      properties:
        key_id: { type: string }
        integrator_id: { type: string }
        status: { type: string, enum: [active, revoked] }
        scopes:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: [string, 'null'], format: date-time }

    ApiKeyIssued:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [secret]
          properties:
            secret:
              type: string
              description: The bearer token. Shown once on issue/rotate; never retrievable again.

    AuditEntry:
      type: object
      required: [id, at, actor, action]
      properties:
        id: { type: string }
        at: { type: string, format: date-time }
        actor: { type: string, description: Admin user / operator who performed the action. }
        action: { type: string, examples: [zone.declare, key.issue, certificate.revoke] }
        target_type: { type: string }
        target_id: { type: string }
        details:
          type: object
          additionalProperties: true

    Revocation:
      type: object
      required: [reason]
      properties:
        reason: { type: string }

    Certificate:
      type: object
      required: [id, kind, reference, status]
      properties:
        id: { type: string }
        kind: { type: string }
        reference: { type: string }
        status: { type: string, enum: [requested, issued, revoked, superseded, expired] }
        subject_type: { type: string }
        subject_id: { type: string }
        issued_at: { type: [string, 'null'] }
        valid_until: { type: [string, 'null'] }
        signing_key_id: { type: [string, 'null'] }
        signature: { type: [string, 'null'] }
        verify_url: { type: [string, 'null'] }
        pdf_url: { type: [string, 'null'] }
        revoked_at: { type: [string, 'null'] }
        revocation_reason: { type: [string, 'null'] }

    Movement:
      type: object
      required: [permit_reference, status]
      properties:
        permit_reference: { type: string }
        status: { type: string }
        origin: { type: string }
        destination: { type: string }
        province: { type: string }
        crosses_zone_boundary: { type: boolean }

    MovementCreate:
      type: object
      required: [origin, destination, province]
      properties:
        origin: { type: string }
        destination: { type: string }
        province: { type: string }
        species: { type: string }
        head_count: { type: integer, nullable: true }
        origin_zone_code: { type: string, nullable: true }
        destination_zone_code: { type: string, nullable: true }
        reason: { type: string, nullable: true }

    Campaign:
      type: object
      required: [campaign_id, disease, status]
      properties:
        campaign_id: { type: string }
        disease: { type: string }
        province: { type: string }
        target: { type: integer }
        vaccinated: { type: integer }
        coverage_pct: { type: number }
        cold_chain_exceptions: { type: integer }
        overdue: { type: integer }
        status: { type: string, enum: [active, paused, completed] }

    CampaignCreate:
      type: object
      required: [disease, province, target]
      properties:
        disease: { type: string }
        province: { type: string }
        target: { type: integer }
        campaign_id: { type: string, nullable: true }

    CampaignUpdate:
      type: object
      properties:
        disease: { type: string }
        province: { type: string }
        target: { type: integer }

    CampaignProgress:
      type: object
      properties:
        vaccinated: { type: integer }
        cold_chain_exceptions: { type: integer }
        follow_ups_cleared: { type: integer }

    AnimalUpdate:
      type: object
      properties:
        visual_tag: { type: string }
        eid: { type: string }
        breed: { type: string }
        sex: { type: string }
        holding_id: { type: string }
        keeper_name: { type: string }
        district: { type: string }
        province: { type: string }
        fmd_zone_code: { type: string }
        status: { type: string }

    KeeperCreate:
      type: object
      required: [name]
      properties:
        name: { type: string }
        contact: { type: string }

    Keeper:
      type: object
      required: [keeper_id, name, status]
      properties:
        keeper_id: { type: string }
        name: { type: string }
        contact: { type: string }
        status: { type: string }

    HoldingCreate:
      type: object
      required: [name, district, province]
      properties:
        name: { type: string }
        district: { type: string }
        province: { type: string }
        keeper_id: { type: string, nullable: true }

    Holding:
      type: object
      required: [holding_id, name, status]
      properties:
        holding_id: { type: string }
        name: { type: string }
        keeper_id: { type: string, nullable: true }
        district: { type: string }
        province: { type: string }
        status: { type: string }

    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }
        details:
          type: object
          additionalProperties: true
